<div class="container align-items-center" style="margin-top:200px">
    <div class="row">
        <div class="col-6 offset-3">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email address</label>
                    <input formControlName="email" type="email" id="email" class="form-control" [class.is-invalid]="submitted && registerForm.get('email')?.errors" />
                    <span class="text-danger" *ngIf="submitted && registerForm.get('email')?.hasError('required')">Email is required</span>
                    <span class="text-danger" *ngIf="submitted && (registerForm.get('email')?.hasError('pattern'))">Email is invalid</span>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="firstName">First Name</label>
                    <input formControlName="firstName" type="text" id="firstName" class="form-control" [class.is-invalid]="submitted && registerForm.get('firstName')?.errors" />
                    <span class="text-danger" *ngIf="submitted && registerForm.get('firstName')?.hasError('required')">First name is required</span>
                    <span class="text-danger" *ngIf="submitted && (registerForm.get('firstName')?.hasError('minLength') || registerForm.get('firstName')?.hasError('maxLength'))">First name must be between 3 and 15 characters</span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input formControlName="lastName" type="text" id="lastName" class="form-control" [class.is-invalid]="submitted && registerForm.get('lastName')?.errors" />
                    <span class="text-danger" *ngIf="submitted && registerForm.get('lastName')?.hasError('required')">First name is required</span>
                    <span class="text-danger" *ngIf="submitted && (registerForm.get('lastName')?.hasError('minLength') || registerForm.get('lastName')?.hasError('maxLength'))">First name must be between 3 and 15 characters</span>

                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input formControlName="password" type="password" id="password" class="form-control" [class.is-invalid]="submitted && registerForm.get('password')?.errors" />
                    <span class="text-danger" *ngIf="submitted && registerForm.get('password')?.hasError('required')">Password is required</span>
                    <span class="text-danger" *ngIf="submitted && (registerForm.get('password')?.hasError('minLength') || registerForm.get('password')?.hasError('maxLength'))">First name must be between 6 and 15 characters</span>

                </div>
                <div class="form-floatin" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Register</button>
              </form>
        </div>
    </div>
</div>
